:root {
    font-family: 'Lato, sans-serif';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    --dark-blue: #0B3954;
    --light-blue: #BFD7EA;
    --light-red: #FF6663;
    --yellow: #E0FF4F;
    --white: #FEFFFE;

    --large-card-box-shadow: '0 9px 20px 55px blue';

    background-color: var(--dark-blue);
}